/*

To read:
https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
*/



#container {
  position: relative;
}

#painting,
#deepFake {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

body {
  background-image: url("assets/blended_black_stucco.jpg");
  background-repeat: repeat;
}


#deepFake {
  z-index: 10;
  /*margin-top: 86px;*/
  /*margin-left: 12px;*/
}


#cam {
  float: right;
  height: 100px;
  margin-left: 200px;
  margin-top: 400px;
}