/*

To read:
https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
*/

body {
  background-image: url("assets/blended_black_stucco.jpg");
  background-repeat: repeat;

}

#container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#paddingContainer {
  flex: 1;
}

#mainItems {
  flex-direction: row;
  flex-wrap: nowrap;
}

#monaLisaWithFrame {
  height: 800px;
  /*min-height: 600px;*/
}


#deepFake {
  position: absolute;
}


#paintingItems {
  display: flex;
  flex: 1;
  flex-direction: row;
}

#museumLabelWrapper {
  flex: 1;
  display: flex;
  margin-left: 40px;
  justify-content: left;
  display: flex;
  align-items: center;
}

#museumLabelContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

#museumLabel {
  width: 300px;
  font-size: 12px;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

#labelVideo {
  padding-top: 20px;
  padding-left: 2px;
}


