/*
#painting,
#deepFake {
  position: relative places an element relative to its current position, but absolute places element relative to parents position;
  https://medium.com/@leannezhang/difference-between-css-position-absolute-versus-relative-35f064384c6#:~:text=position%3A%20relative%20places%20an%20element,changing%20the%20layout%20around%20it.
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%);
}


*/

/*#container {
  display: flex;
  flex-direction: wrap;
  position: relative;
}

#painting,
#deepFake {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

body {
  background-image: url("assets/blended_black_stucco.jpg");
  background-repeat: repeat;
}


#deepFake {
  z-index: 10;
}
*/

/*#cam {
  position: absolute;
  margin-top: -120px;
}*/
