$url: url(https://images.unsplash.com/photo-1544070078-a212eda27b49?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
$b: 1.5em; // border-width

div {
    position: relative;
    border: solid $b rgba(#000, .2);
    height: 50vmin;
    max-width: 13em;
    max-height: 7em;
    background: $url 50%/ cover
                                border-box /* background-origin */
                                padding-box /* background-clip */;
    font-size: 2em;

    &:before {
        position: absolute;
        z-index: -1; /* put it *behind* parent */
        /* go outside padding-box by
         * a border-width ($b) in every direction */
        top: -$b; right: -$b; bottom: -$b; left: -$b;
        border: inherit;
        border-color: transparent;
        background: inherit;
        background-clip: border-box;
        content: ''
    }
}